<ul class="djelab-nav-list">
    <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
    <li><NavLink href="workspace">Workspace</NavLink></li>
    <li><NavLink href="settings">AI Setup</NavLink></li>
    <li><NavLink href="about">About</NavLink></li>
    <li><a href="/" class="djelab-nav-external">← Lagdaemon.com</a></li>
</ul>
