@namespace Djehuti.Teacher.Layout
<ul class="teacher-nav-list">
    <li><NavLink href="catalog" Match="NavLinkMatch.All">Catalog</NavLink></li>
    <li><NavLink href="your-lessons">Your Lessons</NavLink></li>
    <li><NavLink href="ai-setup">AI Setup</NavLink></li>
    <li><NavLink href="getting-started">Getting Started</NavLink></li>
    <li><a href="https://lagdaemon.com" class="teacher-nav-external">← Lagdaemon.com</a></li>
</ul>
