[Unit]
Description=Djehuti API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/djehuti-api
ExecStart=/opt/djehuti-api/Djehuti.Api
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/djehuti-api/api.env

[Install]
WantedBy=multi-user.target
